@font-face {
    font-family: "Frutiger";
    src: url("https://schluecu.github.io/roger-schnyder.github.io/font/FrutigerNeueLTPro-Light.woff");
}

body {
    line-break:strict;
    -webkit-user-select: none;
    font-family: "Frutiger";
    background-color: lightgray;
    color:black;
    font-size: clamp(12.5pt, 1vmax, 1vw);
    line-height: 1.3;
}

a {
    display:inline;
}

p {
    display:inline;
    padding-right:2vmax;
    padding-bottom:1vmax;
}

r:hover {
    cursor:pointer;
}

@media only screen and (max-width: 800px) {
    .bignav {display:none;}
    .topnav {display:inline-block;float:left;}
    
}
@media only screen and (min-width: 801px) {
    .bignav {display:inline-block;float:left;}
    .topnav {display:none;}
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  font-size: clamp(12.5pt, 1vw, 1vw);
  line-height:clamp(12.5pt, 2vw, 2vmax);
  padding: 1vw;
  float: left;
}

/* Style the hamburger menu */
.topnav a.icon {
  float: left;
  position: absolute;
  left: .5vw;
  top: .5vw;
}

.sub {
    margin-left: 2vmax;
}

.topnav a.icon:hover {
    cursor:pointer;
}

.grid {
    width:20vw;
    height:auto;
    align-items:start;
    padding-right:2vw;
}

.caption {
    display:none;
}

.block:hover + .caption {
  display: block;
}
