@font-face {
    font-family: "Frutiger";
    src: url("https://schluecu.github.io/roger-schnyder.github.io/font/FrutigerNeueLTPro-Light.woff");
}

body {
    text-wrap:wrap;
    line-break:strict;
    -webkit-user-select: none;
    font-family: "Frutiger";
    background-color: lightgray;
    color:black;
    font-size: clamp(12.5pt, 1vmax, 1vw);
    line-height: 1.3;
}

a {
    display:inline;
}

p {
    display:inline;
    padding-right:2vmax;
    padding-bottom:1vmax;
}

r:hover {
    cursor:pointer;
}

@media only screen and (max-width: 800px) {
    .bignav {display:none;}
    .topnav {display:inline-block;float:left;}
    
}
@media only screen and (min-width: 801px) {
    .bignav {display:inline-block;float:left;}
    .topnav {display:none;}
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  font-size: clamp(12.5pt, 1vw, 1vw);
  line-height:clamp(12.5pt, 2vw, 2vmax);
  padding: 1vw;
  float: left;
}

/* Style the hamburger menu */
.topnav a.icon {
  float: left;
  position: absolute;
  left: .5vw;
  top: .5vw;
}

.sub {
    margin-left: 2vmax;
}

.topnav a.icon:hover {
    cursor:pointer;
}

.bild {
    object-fit: cover;
    display:inline;
    align-items:start;
}

bild:hover {
    cursor:pointer;
}

.grid {
    width: 80vw;
    height: auto;
    display: flex;
    flex-flow:row wrap;
}

.caption {
    padding-top:.5vmax;
    padding-bottom:1vmax;
    display:inline-flex;
    color:lightgray;
    width:80vw;
}

.column {
    display:flex;
    flex-direction:column;
}

.three {
    width:25vw;
    padding-right:1.6vw;
}

.bild & .three {
    height:25vw;
}

.five {
    width: 15vw;
    padding-right: 1vw;
}

.bild & .five {
    height: 15vw;
}

.jahre {
    margin-top:2vmax;
    margin-bottom:1vmax;
}

[id^=bild] {
    display:none;
}

[id^=bild]:checked + label > img {
    width:80vw;
    height:auto;
    object-fit:contain;
    max-height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:scroll;
}

[id^=bild]:checked ~ .caption {
    color:black;
    width:80vw;
}
